body{ 
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* hides scrollbars */
}

.navbar {
    width: 100%;
    background: gray;
    color: white;
    position: absolute; /*this makes the navbar stay at the top of the page even when scrolling*/
    top: 0;
    left: 0;
    display: flex; /*this makes the navbar a flex container, allowing for flexible layout of its child elements*/
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    -webkit-app-region: drag; /*Makes navbar draggable*/
}

.button-photo {
    width: 120px;
    height: 120px;
    cursor: pointer;
    transition: transform 0.2s; /* Smooth transition for scaling effect */
}

.button-photo:hover {
    transform: scale(1.1);
}